.feld_index{
    border: 3px solid;
    border-color: black;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 12px;
    align-items: center;
}
.feld_advacend{
    border: 3px solid;
    border-color: black;
    margin-left: 32%;
    margin-right: 35%;
    border-radius: 12px;
    align-items: center;
}


.leg_index{
    text-align: center;
    font-size: 30px;
    color: black;
    text-align: center;
    align-items: center;
}

.input_index{
    font-size:19px;
    border-color: black;
    border-radius: 12px;
    margin-left: 25%;
    margin-right: 35%;
}

#submit_index{
    background-color: blue;
    color:white;
    border-color: blue;
    margin-left: 32%;
    margin-right: 35%;
    font-size: 22px;
    border-radius: 15px;

}
p{
    font-size: 26px;
    color: black;
    text-align: center;
}
.nav_adv{
    margin-left: 30%;
    margin-right: 35%;
}


nav{
    margin-left: 42%;
    margin-right: 35%;
}
.input_advanced{
    font-size:19px;
    border-color: black;
    border-radius: 12px;
}
.p_advcanced{
    text-align: left;
    font-size: 24px;
}